.colBlur {
  width: 300px;
  filter: blur(20px);
  transition: none;
}
.colReal {
  width: 300px;
  filter: none;
  transition: 0.3s ease-out;
}
.colReal:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}