.list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  list-style-type: none;
}
.items {
  display:inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
}
.aitems {
  display:inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
  color: #eb0c0c;
}
.items:hover {
  color:rgb(7, 250, 136)
}
.aitems:hover {
  color:rgb(99, 8, 134)
}
.shortMenu {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(198, 240, 12);
  margin: 6px 0;
  transition: 0.4s;
}
@media screen and (max-width: 500px){
  nav {
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 62.5px;
    background-color: #333;
  }
  .items:nth-child(2){
    display: block;
  }
  .aitems:nth-child(2){
    display: block;
  }
  .shortMenu {
    display: block;
  }
}